h1,
h4 {
  color: $couleur-1;
}

.v-application--wrap {
  background-color: white;
}
.v-alert--outlined {
  border-color: $couleur-4 !important;
}

.icone-attention {
  color: $couleur-1;
}

.icone-fermer {
  color: $couleur-5;
}

.icone-erreur {
  color: $message-couleur-1;
  float:left;
}

.v-card__title {
  color: $couleur-2;
}

.v-card__text {
  border: 1px solid $couleur-4;
}

.erreur--text {
  color: black;
  background-color: $message-arriere-plan-1 !important;
  border-left:0.5rem solid $message-arrire-plan-4;
}

.mdi-information {
  color:$couleur-2;
}

.v-btn {
  background-color:$couleur-1 !important;
}

a {
  color: black !important;
}

#noAccount {
  color:$couleur-3;
}

.bouton-simple {
  color:$couleur-3 !important;
  background-color: transparent !important;
}
