.theme--light {
  $couleur-1: #cf491f; // Orange foncé
  $couleur-2: #478dcb; // Bleu clair
  $couleur-3: #252c61; // Bleu foncé
  $couleur-4: #b8b8b9; // Gris clair
  $couleur-5: #949597; // Gris
  $couleur-6: #ffffff; // Blanc
  $couleur-7: #000000; // Noir
  $couleur-8: #00b600; // Vert clair
  $couleur-9: #e3040d; //Rouge

  $bouton-1: #00b600; // Vert clair
  $bouton-2: #252c61; //Bleu foncé
  $bouton-3: #e3040d; //Rouge

  $message-couleur-1: #e3040d; // Rouge
  $message-couleur-2: #eca30f; //Orange clair
  $message-couleur-3: #00b600; //Vert clair

  $couleur-arriere-plan-1: #fac8c0; // Rouge
  $couleur-arriere-plan-2: rgba($message-couleur-2, 0.15); //Orange clair
  $couleur-arriere-plan-3: rgba($message-couleur-3, 0.15); //Vert clair
  $couleur-arriere-plan-4: #f6988a;
  $couleur-arriere-plan-5: #122638;
  $couleur-arriere-plan-6: #ffffff; // Blanc
  $couleur-arriere-plan-7: #000000; // Noir
  $couleur-arriere-plan-8: #6262624a;
  $couleur-arriere-plan-9: #32465b;
  $couleur-arriere-plan-10: #5f97ce;

  $couleur-fond-card: #F7F9FA;

  $couleur-tab: rgb(250, 250, 250);

  @import "style";
}

.theme--dark {
  $couleur-1: #ffffff; // Orange foncé
  $couleur-2: #ffffff; // Bleu clair
  $couleur-3: #ffffff; // Bleu foncé
  $couleur-4: #b8b8b9; // Gris clair
  $couleur-5: #949597; // Gris
  $couleur-6: #000000; // Noir
  $couleur-7: #000000;
  $couleur-8: #00b600; // Vert clair
  $couleur-9: #e3040d; //Rouge

  $bouton-1: #00b600; // Vert clair
  $bouton-2: #252c61; //Bleu foncé
  $bouton-3: #ffffff; //Rouge

  $message-couleur-1: #e3040d; // Rouge
  $message-couleur-2: #eca30f; //Orange clair
  $message-couleur-3: #00b600; //Vert clair

  $couleur-arriere-plan-1: #fac8c0; // Rouge
  $couleur-arriere-plan-2: rgba($message-couleur-2, 0.15); //Orange clair
  $couleur-arriere-plan-3: rgba($message-couleur-3, 0.15); //Vert clair
  $couleur-arriere-plan-4: #f6988a;
  $couleur-arriere-plan-5: #b8b8b9;
  $couleur-arriere-plan-6: #000000; // Noir
  $couleur-arriere-plan-7: #ffffff; // Blanc
  $couleur-arriere-plan-8: #000000;
  $couleur-arriere-plan-9: #7d7979;
  $couleur-arriere-plan-10: #7d7979;

  $couleur-fond-card: #1E1E1E;

  $couleur-tab: rgb(0, 0, 0);

  @import "style";
}

#messageBox .v-btn {
  background-color: transparent !important;
  border-left: 0;
}

.icone-information,
.icone-erreur,
.icone-validation,
.icone-avertissement {
  float: left;
}

a {
  text-decoration: underline;
}

.bouton-simple {
  text-transform: none;
  letter-spacing: inherit !important;
  text-decoration: underline;
}

.bouton-simple .mdi {
  text-decoration: none !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

#titleBar {
  cursor: pointer;
}

header {
  height: auto !important;
  left: 0 !important;
  position: relative !important;
}

.mainBar {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
}

nav {
  max-height: 100% !important;
  position: relative !important;
  flex: 0 0 80px;
  flex-direction: row !important;
  width: 20vw;
}

main {
  width: calc(100vw - 100px);
  flex: 0 0 calc(100vw - 100px);
}

.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#appBar .v-toolbar__content {
  height: 100% !important;
  width: 100vw;
  padding: 0;
}

#appBar .v-toolbar__image {
  z-index: -2 !important;
}

nav .v-list-item {
  width: 100%;
  min-width: 100%;
  height: auto !important;
  min-height: auto !important;
}

nav .v-list-item__title {
  font-size: 0.6rem !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}

h1 {
  font-weight: 900;
}

.v-card__title {
  font-size: 1.5em !important;
  font-weight: 900 !important;
}

.multi-line {
  white-space: pre-line;
}

.no-text-transform {
  text-transform: none !important;
}