p {
  color: black;
}

#WarningLogin {
  font-size: smaller;
}

#noAccount {
  margin: 0;
  margin-top: 10px;
}

.createAccountLinks {
  padding-top: 0;
}

.createAccountLinks a {
  text-decoration: none;
}

.noUnderlineLink {
  text-decoration: none;
}

.v-alert h4 {
  color: #cf491f !important;
}

.v-info {
    background-color: #e8eaf0 !important;
}

.v-card__text {
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding:1rem;
}
